@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.white {
  color: white;
}

.gray {
  color: gray;
}

.red {
  color: red;
}

.facebook {
  color: blue;
}

.instagram {
  color: red;
}

.twitter {
  color: white;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

#logoHeader {
  margin: 10px 10px 10px 10px;
  height: 100px;
  width: 100px;
}
#logoHeader a {
  text-decoration: none;
}

.menuLogo {
  display: flex;
  justify-content: space-between;
}
.menuLogo li {
  list-style-type: none;
}

#btnLog {
  transform: translate(-30px, 30px);
}

#login {
  text-align: center;
  margin-bottom: 50px;
}

header {
  background-color: #181818;
  height: 250px;
  width: 100%;
}

.navbar-dark {
  position: absolute;
  z-index: 100;
  width: 100%;
  justify-content: space-evenly;
  transform: translateY(40px);
}

#navbarTogglerDemo01, .dropdown-menu-dark {
  background-color: #181818;
}

#navbarTogglerDemo01 li a, .dropdown-menu-dark li a {
  transition: all 0.5s;
  color: white;
}
#navbarTogglerDemo01 li a:hover, .dropdown-menu-dark li a:hover {
  color: rgb(179, 179, 179);
}

.dropdown-menu-dark {
  position: absolute;
}

nav ul li {
  margin: 25px;
  list-style-type: none;
  font-weight: bold;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

ul ul {
  display: none;
  color: white;
  background-color: #181818;
}
ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
}

body {
  background-color: white;
}

.carousel {
  border: solid 1px;
}
.carousel .carousel-inner img {
  height: 700px;
  width: 100%;
}

.título, .títuloPrincipal {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
}

.título2 {
  margin-bottom: 50px;
  font-size: 50px;
  text-align: center;
}

.títuloPrincipal {
  font-size: 50px;
}

.títuloBanner, .subtítuloBanner {
  margin-top: 30px;
  text-align: center;
}

.subtítuloBanner {
  margin-top: 10px;
  padding-bottom: 50px;
}

#swiper {
  padding-top: 50px;
  margin-bottom: 80px;
  background-color: rgb(179, 179, 179);
}

#linkTromen {
  margin-top: 100px;
}

.videoTromen {
  position: relative;
  overflow: hidden;
  height: 50%;
  width: 100%;
  padding-top: 50%;
}
.videoTromen iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.linea {
  border-top: 7px solid red;
  height: 40px;
  max-width: 100px;
  padding: 0;
  margin: 20px auto 20px auto;
}

.linea2 {
  border-top: 2px solid red;
  height: 40px;
  max-width: 300px;
  padding: 0;
  margin: 20px auto 20px auto;
}

.linkExterno {
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, red, rgba(255, 0, 0, 0.6), red);
  text-align: center;
  border-radius: 5px;
  padding: 3px 3px 3px 3px;
}

.boxCentrado {
  margin: 10px auto 10px auto;
  text-align: center;
}

#contenedorProductos {
  width: 100%;
}

.card {
  margin: 30px auto 30px auto;
  text-align: center;
}

.direccion {
  font-size: 24px;
  text-align: center;
}

.quienesSomos {
  display: flex;
  text-align: justify;
  align-items: center;
  font-size: 24px;
  margin: auto 40px auto 40px;
}

.rowNosotros {
  margin-top: 100px;
  margin-bottom: 100px;
}

.imgQuienesSomos {
  text-align: center;
  width: 400px;
  height: 400px;
}

#pie {
  background-color: #181818;
  padding-top: 20px;
  color: white;
  font-size: 12px;
  width: 100%;
  position: absolute;
}
#pie div h3 {
  font-weight: bold;
  font-size: 12px;
  padding-top: 10px;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  justify-items: center;
  width: 100%;
}

.copyright {
  margin-top: 20px;
  font-size: 12px;
  color: white;
  text-align: center;
}

.formularioContacto {
  background-color: #181818;
  color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  max-width: 80%;
  margin: auto auto 50px auto;
  padding: 40px 40px 40px 40px;
}
.formularioContacto label {
  margin: 10px auto 10px auto;
}
.formularioContacto .inputContacto, .formularioContacto textarea {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: none;
  border-bottom: 1px solid red;
}
.formularioContacto textarea {
  border: 1px solid red;
}

.redesSociales a {
  text-decoration: none;
  margin-right: 30px;
}

@media screen and (max-width: 1000px) {
  #search input, #search button {
    display: none;
  }
  .carousel-inner {
    height: auto;
  }
  .carousel-inner img {
    height: 500px;
  }
  .footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin-left: 20px;
    justify-items: center;
    width: 100%;
  }
  .copyright {
    font-size: 7px;
  }
  .linkTromen {
    width: auto;
    height: 60%;
  }
  #pie {
    font-size: 7px;
  }
  #pie div h3 {
    font-size: 7px;
  }
}
@media screen and (max-width: 480px) {
  .footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    justify-items: center;
    width: 100%;
  }
  .carousel-inner img {
    height: 50%;
  }
  #mapa iframe {
    height: 300px;
    width: 300px;
  }
  .videoTromen {
    display: none;
  }
  .imgQuienesSomos {
    height: 300px;
    width: 300px;
  }
  .quienesSomos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .título2 {
    font-size: 40px;
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  .carousel-inner img {
    height: 100px;
  }
  .videoTromen {
    display: none;
  }
}
@media (min-width: 1000px) {
  #ultimaImagen {
    transform: translate(100px, -200px);
  }
}/*# sourceMappingURL=style.css.map */