.subtitulo {
    text-align: center;
    margin-top: 30px;
}

.titulo {
    @extend .subtitulo;
    text-decoration: underline;
}

.imgCart {
    margin-left: 30px;
    width: 70px;
    height: 120px;
    flex: 1 1 50px;
}

.contenedorCart {
    width: 100%;
    margin-right: 0;
    margin-top: 40px;
    display: flex;
    align-items: center;    
    text-align: center;
}

.tituloCart {
    flex: 1 1 auto;
    max-width: 300px;
}

.contenedorTexto {
    width: 300px;
}

.textoCart {
    flex: 1 1 auto;
    font-size: 14px;
} 

.precioCart {
    flex: 1 1 auto;
}

#btnCarrito {
    flex: 1 1 auto;
}

.btns-comprafinal {
    margin-right: 50px;
    margin-left: 50px;
}

#btnDeleteAll {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.contenedorTotal {
    text-align: center;
}

.resumenText {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
}

.total {
    margin-top: 50px;
    text-align: center;
}