.card {
    width: 19rem;
    margin: 50px;
    display: flex;
    img {
        height: 400px;
        }
    }

.linkBtn {
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
    }
}

#contenedorProductos {
    margin: 0px;
}
