<h1>Actualizaci칩n de contrase침a</h1>
<form action="/users/password" method="post">
    Email: <input type="email" name="email" id="email">
    <br>
    Contrase침a: <input type="password" name="oldPass" id="oldPass">
    <br>
    Nueva contrase침a: <input type="password" name="newPass" id="newPass">
    <br>
    <br>
    <input type="submit" value="Actualizar">
</form>