<h1>Ingresar</h1>
<form action="/users/login" method="post">
    E-mail: <input type="text" name="email" id="email">
    <br>
    Contraseña: <input type="text" name="password" id="password">
    <br>
    <br>
    <input type="submit" value="Ingresar"> 
</form>
<br>
<button onclick="location.href='/views/password'">Olvidé mi contraseña</button>

<h3>Si aún no estas registrado, hace click aquí:</h3>
<button onclick="location.href='/views/registro'">Registrarme</button>
<br>
<h3>O ingresa a través de: </h3><button onclick="location.href='/users/loginGH'">GitHub</button>
