<h1>Ingresar</h1>
<form action="/users/login" method="post">
    E-mail: <input type="text" name="email" id="email">
    <br>
    Contraseña: <input type="text" name="password" id="password">
    <br>
    <br>
    <input type="submit" value="Ingresar">
</form>

<h3>Si aún no estas registrado, hace click:</h3>
<button onclick="location.href='/views/registro'">Registrarme</button>